{% extends 'base.html' %}


{% block title%}Promotions{% endblock title %}


{% block body %}

<style>

.form-control{

    width:60%;
}
#submit{


    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    align-items: flex-end;
    max-width: 95%;
}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdz4xrgAodzerpj1Az80zVb3u-YvjG6zM&libraries=places"></script>

<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <section>
                <h1 style="font-size: 1.5rem;
                            padding: 30px;
                            text-align: center;"><strong></strong></h1>



                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <form method="post" class="card" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-header">
                                <h3 class="card-title">Promotions</h3>
                            </div>
                            <div class=" card-body">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-12 mb-4 mb-lg-0 ">
                                        <input type="file" name="promotions_images1" class="dropify" data-bs-height="180" required/>
                                    </div>
                                    <div class="col-lg-3 col-sm-12 mb-4 mb-lg-0 ">
                                        <input type="file"  name="promotions_images2"  class="dropify" data-bs-height="180" />
                                    </div>
                                    <div class="col-lg-3 col-sm-12 mb-4 mb-lg-0 ">
                                        <input type="file"  name="promotions_images3"  class="dropify" data-bs-height="180" />
                                    </div>
                                    <div class="col-lg-3 col-sm-12 mb-4 mb-lg-0 ">
                                        <input type="file"  name="promotions_images4"  class="dropify" data-bs-height="180" />
                                    </div>
                                </div>
                              
                                
                                


                            </div>
                            <div class="row mb-4">
                                <label class="col-md-3 form-label" style="display:flex; justify-content:center;">Hotel name :</label>
                                <div class="col-md-9">
                                    <input type="text"  name="hotel_name" id="hotalname" required class="form-control" placeholder="Hotal Name" required>
                                </div>
                            </div>
                              <div id="submit"class="col-lg-3 mb-4">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            </div>
                        </form>
                    </div>
            </section>


        </div>
        <!-- CONTAINER CLOSED -->
    </div>
</div>
<!--app-content closed-->


{% endblock body %}